<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    
  </style>
</head>
<body>
  <div id="main">
    <div id="canvas">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Welcome {{this_user.username}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/manager/requests">Requests</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div id="content">
        <h3 class="headings">View All Products</h3>
        <div id="table">
          <table class="table border text-center">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Units Available</th>
                <th scope="col">Cost/Unit</th>
                <th>Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for prod in all_prod %}
              <tr>
                <th scope="row">{{prod.id}}</th>
                <td>{{prod.name}}</td>
                <td>{{prod.category}}</td>
                <td>{{prod.quantity}}</td>
                <td>{{prod.cost}}</td>
                <td>{{prod.status}}</td>
                <td>
                  <a href="/update/{{prod.id}}" class="btn btn-warning">Update</a>
                </td>
              </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="text-end">
            <a href="/create" class="btn btn-primary mx-2 my-5" >Create Product </a>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
